@page "/diffview/{environment}/{time:long}"
@using Sanctuary.Census.Pages
@model Sanctuary.Census.Pages.DiffViewerPage
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = $"Diff Viewer - {Model.DiffTime}";
}

<div>
    <div class="block">
        <a class="button is-warning" asp-page="./DiffRecordsPage" asp-route-environment="@Model.Environment">
            ❮ Back to Diff List
        </a>
    </div>
    
    <div class="message">
        <div class="message-header">
            <p>Jump to</p>
        </div>
        <div class="message-body">
            <ul>
                @foreach (string collection in Model.DiffEntryBuckets.Keys)
                {
                    <li>
                        <a href="#coll-@collection">@collection</a>
                    </li>
                }
            </ul>
        </div>
    </div>
    
    <div class="columns">
        <div class="column is-6">
            <div class="notification is-danger is-light content">
                Old Objects
            </div>
        </div>
        <div class="column is-6">
            <div class="notification is-success is-light">
                New Objects
            </div>
        </div>
    </div>

    @foreach ((string collectionName, List<DiffViewerPage.DiffObjectsDisplay> entries) in Model.DiffEntryBuckets)
    {
        <div class="container" id="coll-@collectionName">
            <p class="notification is-link">
                @collectionName
            </p>
            
            @foreach (DiffViewerPage.DiffObjectsDisplay entry in entries)
            {
                <div class="columns">
                    <div class="column is-6">
                        @if (entry.Old is not null)
                        {
                            <div class="notification is-danger is-light content">
                                <p style="white-space: pre-wrap; line-break: anywhere">@entry.Old</p>
                            </div>
                        }
                    </div>
                    <div class="column is-6">
                        @if (entry.New is not null)
                        {
                            <div class="notification is-success is-light">
                                <p style="white-space: pre-wrap; line-break: anywhere">@entry.New</p>
                            </div>
                        }
                    </div>
                </div>
                <hr />
            }
        </div>
    }
</div>
