@page "/diff/{environment}"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Sanctuary.Census.Common.Objects
@using Sanctuary.Census.Common.Objects.DiffModels
@using Sanctuary.Census.Api.Pages.Shared
@model Sanctuary.Census.Api.Pages.DiffRecordsPage
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Diff List";
}

<div>
    <div class="dropdown is-hoverable block">
        <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                <span>Switch Namespace ▼</span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
                @foreach (string environment in Enum.GetNames<PS2Environment>())
                {
                    <a class="dropdown-item" asp-page="./DiffRecordsPage" asp-route-environment="@environment">
                        @environment
                    </a>
                }
            </div>
        </div>
    </div>

    @if (Model.DiffRecords is not null)
    {
        foreach (DiffRecord record in Model.DiffRecords)
        {
            <article class="message is-link">
                <div class="message-header has-background-link-dark">
                    @Html.LocalDateDisplay(record.GeneratedAt)
                    <a class="button" asp-page="./DiffViewerPage" asp-route-environment="@Model.Environment" asp-route-time="@record.GeneratedAt.Ticks">
                        View
                    </a>
                </div>
                <div class="message-body has-background-link has-text-link-light">
                    <ul>
                        @foreach ((string collection, uint changeCount) in record.CollectionChangeCounts)
                        {
                            <li>@collection - @changeCount changes</li>
                        }
                    </ul>
                </div>
            </article>
        }
    }
</div>
