@using Sanctuary.Census.Api.Pages.Shared;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Sanctuary.Census</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    @await Html.PartialAsync("_Favicons")
</head>
<body class="has-background-dark">
<section class="hero is-primary is-small is-success has-background-primary-dark">
    <div class="hero-body">
        <p class="title">
            @ViewData["Title"]
        </p>
    </div>
</section>
<section class="section">
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
</section>

@* <script src="~/js/site.js" asp-append-version="true"></script> *@
@Html.InitializeLocalDateDisplay();

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
